<!-- Header -->
<header class="header shop">
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a routerLink="index.html"><img src="assets/images/logo.png" alt="logo" /></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input name="search" placeholder="Recherche produit ici....." type="search" />
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--  Panier à  remplir dynamiquement-->
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar">
                            <a routerLink="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar">
                            <a routerLink="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar shopping">
                            <a routerLink="#" class="single-icon"><i class="ti-bag"></i> <span
                                    class="total-count">2</span></a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a routerLink="#">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    <li>
                                        <a routerLink="#" class="remove" title="Remove this item"><i
                                                class="fa fa-remove"></i></a>
                                        <a class="cart-img" routerLink="#"><img src="https://via.placeholder.com/70x70" alt="#" /></a>
                                        <h4><a routerLink="#">Woman Ring</a></h4>
                                        <p class="quantity">
                                            1x - <span class="amount">$99.00</span>
                                        </p>
                                    </li>
                                    <li>
                                        <a routerLink="#" class="remove" title="Remove this item"><i
                                                class="fa fa-remove"></i></a>
                                        <a class="cart-img" routerLink="#"><img src="https://via.placeholder.com/70x70" alt="#" /></a>
                                        <h4><a routerLink="#">Woman Necklace</a></h4>
                                        <p class="quantity">
                                            1x - <span class="amount">$35.00</span>
                                        </p>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">$134.00</span>
                                    </div>
                                    <a routerLink="checkout.html" class="btn animate">Checkout</a>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            <h3 class="cat-heading">
                                <i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES
                            </h3>
                            <ul class="main-category">
                                <li>
                                    <a routerLink="#">Nouveaux
                                        <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <ul class="sub-category">
                                        <li><a routerLink=''>Accessories</a></li>
                                        <li><a routerLink=''>Top Promo</a></li>
                                        <li><a routerLink=''>Top 100 offeres</a></li>
                                        <li><a routerLink="phones">Téléphones</a></li>
                                        <li><a routerLink="computers">Ordinateurs</a></li>

                                    </ul>
                                </li>
                                <li class="main-mega">
                                    <a routerLink="#">Top Promo</a>
                                </li>
                                <li><a routerLink="">Accessories</a></li>
                                <li><a routerLink="">Top 100 offeres</a></li>
                                <li><a routerLink="">Téléphones</a></li>
                                <li><a routerLink="">Ordinateurs</a></li>
                                <li><a routerLink="">Montre homme</a></li>
                                <li><a routerLink="">Montre femme</a></li>
                                <li><a routerLink="">Tablettes</a></li>
                                <li><a routerLink="">Caméra</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink=''>Accueil</a></li>
                                            <li [routerLinkActive]="['active']"><a routerLink='admin'>Admin</a></li>
                                            <li [routerLinkActive]="['active']">
                                                <a routerLink='new'>Shop<i class="ti-angle-down"></i><span
                                                        class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a routerLink="shop-grid-phones">Phones</a></li>
                                                    <li><a routerLink="shop-grid-computers">Ordinateurs</a></li>
                                                </ul>
                                            </li>
                                            <li [routerLinkActive]="['active']"><a routerLink="pages">Pages</a></li>
                                            <li [routerLinkActive]="['active']"><a routerLink="contact">Contact</a></li>
                                            <li [routerLinkActive]="['active']"><a routerLink="signup">S'inscrire</a></li>
                                            <li [routerLinkActive]="['active']"><a routerLink="login">Se Connecter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
    <!-- Slider Area -->
    <section class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-9 offset-lg-3 col-12">
                        <div class="text-inner">
                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="hero-text">
                                        <h1><span>UP TO 50% OFF </span>Shirt For Man</h1>
                                        <p>
                                            Maboriosam in a nesciung eget magnae <br /> dapibus disting tloctio in the find it pereri <br /> odiy maboriosm.
                                        </p>
                                        <div class="button">
                                            <a routerLink="#" class="btn">Shop Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Slider Area -->
</header>
<!--/ End Header -->