<h2>Détails produit</h2>
<mat-dialog-content class="mat-typography">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!-- Product Slider -->
            <div class="product-gallery">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="margin-top: 8%;">
                        <div class="carousel-item active">
                            <img class="d-block" src="https://via.placeholder.com/570x400" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="https://via.placeholder.com/570x400" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="https://via.placeholder.com/570x400" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Precédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>
            <!-- End Product slider -->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="quickview-content">
                <h2 class="text-white">{{phone.brand|titlecase}} {{phone.model|titlecase}}</h2>
                <div class="quickview-ratting-review">
                    <div class="quickview-ratting-wrap">
                        <div class="quickview-ratting">
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <a href="#"> ( 2 Revue client )</a>
                    </div>
                    <div class="quickview-stock">
                        <span><i [ngClass]="{'fa fa-times-circle': phone.stock > 0, 'fa fa-check-circle-o text-danger': phone.stock ==0}"></i>{{phone.stock}}</span>
                    </div>
                </div>
                <h3></h3>
                <div class="quickview-peragraph">
                    <p style="color:white" class="text-justify">
                        Ecran: <span>{{phone.size| titlecase}}</span> - Processeur: <span>{{phone.cpu| titlecase}}</span> - Système d'exploitation: <span>{{phone.os| titlecase}}</span> - Mémoire RAM: <span>{{phone.ram | titlecase}}</span> - Stockage:
                        <span>{{phone.rom| titlecase}}</span> - Appareil Photo
                        <span>{{phone.backCam| titlecase}}</span> (Arriére), <span>{{phone.frontCam| titlecase}}</span> (Avant) - Capacité de Batterie: <span>{{phone.battery| titlecase}}</span> - Sim: <span>{{phone.sim| titlecase}}</span> - Empreinte
                        digitale:
                        <span>{{phone.fingerPrint| titlecase}}</span> - Couleur: <span *ngFor=" let c of phone.color"> {{ c | titlecase}} </span> - Garantie: <span>{{phone.waranty| titlecase}}</span>
                    </p>
                </div>
                <div class="size">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <h5 class="title">Couleurs </h5>
                            <select>
                          <option *ngFor=" let c of phone.color">{{c|titlecase}}</option>
                         </select>
                        </div>
                    </div>
                </div>
                <div class="quantity">
                    <!-- Input Order -->
                    <div class="input-group">
                        <div class="button minus">
                            <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                <i class="ti-minus"></i>
              </button>
                        </div>
                        <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                        <div class="button plus">
                            <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                <i class="ti-plus"></i>
              </button>
                        </div>
                    </div>
                    <!--/ End Input Order -->
                </div>
                <div class="add-to-cart">
                    <a href="#" class="btn">Ajouter au panier</a>
                    <a href="#" class="btn min"><i class="ti-heart"></i></a>
                    <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                </div>
                <div class="default-social">
                    <h4 class="share-now">Partager</h4>
                    <ul>
                        <li><a class="facebook share" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter share" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube share" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a class="dribbble share" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn">Annuler</button>
</mat-dialog-actions>