<h2>Détails produit</h2>
<mat-dialog-content class="mat-typography" style="width: 1000px;height: 450px;">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!-- Product Slider -->
            <div class="product-gallery">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="margin-top: 8%;">
                        <div class="carousel-item active">
                            <img class="d-block" src={{phone.image}} style="width: 570px;height: 400px;">
                        </div>
                    </div>
                    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Precédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a> -->
                </div>
            </div>
            <!-- End Product slider -->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="quickview-content">
                <h2 class="text-white">{{phone.brand|titlecase}} {{phone.model|titlecase}}</h2>
                <div class="quickview-ratting-review">
                    <div class="quickview-ratting-wrap">
                        <div class="quickview-ratting">
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="yellow fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <a href="#"> ( 2 Revue client )</a>
                    </div>
                    <div class="quickview-stock">
                        <span><i [ngClass]="{'fa fa-times-circle': phone.stock > 0, 'fa fa-check-circle-o text-danger': phone.stock ==0}"></i>{{phone.stock}}</span>
                    </div>
                </div>
                <h3></h3>
                <div class="quickview-peragraph">
                    <p style="color:white" class="text-justify">
                        Ecran: <span>{{phone.size| titlecase}}</span> - Processeur: <span>{{phone.cpu| titlecase}}</span> - Système d'exploitation: <span>{{phone.os| titlecase}}</span> - Mémoire RAM: <span>{{phone.ram | titlecase}}</span> - Stockage:
                        <span>{{phone.rom| titlecase}}</span> - Appareil Photo
                        <span>{{phone.backCam| titlecase}}</span> (Arriére), <span>{{phone.frontCam| titlecase}}</span> (Avant) - Capacité de Batterie: <span>{{phone.battery| titlecase}}</span> - Sim: <span>{{phone.sim| titlecase}}</span> - Empreinte
                        digitale:
                        <span>{{phone.fingerPrint| titlecase}}</span> - Couleur: <span *ngFor=" let c of phone.color"> {{ c | titlecase}} </span> - Garantie: <span>{{phone.waranty| titlecase}}</span> <span *ngIf='phone.status'>- Etat: <span>{{phone.status| titlecase}}</span></span>
                    </p>
                </div>
                <div class="size">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <h5 class="title">Couleurs </h5>
                            <select>
                              <option *ngFor=" let c of phone.color">{{c|titlecase}}</option>
                             </select>
                        </div>
                    </div>
                </div>
                <div class="quantity">
                    <!-- Input Order -->
                    <form #cartFrom='ngForm' (ngSubmit)='addOrder()'>
                        <div class="form-group">
                            <input type="number" [(ngModel)]='cart.quantity' [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <button type="submit" #submitOrder hidden>hiden add to cart button </button>
                        </div>

                    </form>
                    <!--/ End Input Order -->
                </div>
                <div class="add-to-cart">
                    <a *ngIf='user' mat-button mat-dialog-close class="btn" (click)='submitOrder.click()'>Ajouter au panier</a>
                    <a href="#" class="btn min"><i class="ti-heart"></i></a>
                    <a href="#" class="btn min "><i mat-button mat-dialog-close class="fa fa-compress"></i></a>
                </div>
                <div class="msg" *ngIf="!user">Pour commander. Connecter-vous SVP, cliquez <a mat-button mat-dialog-close routerLink='login'><u>ici</u> </a></div>
                <div class="default-social">
                    <h4 class="share-now">Partager</h4>
                    <ul>
                        <li><a class="facebook share" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter share" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube share" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a class="dribbble share" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn">Annuler</button>
</mat-dialog-actions>