<div class="container my-5">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active font-weight-bold" id="nav-phones-tab" data-toggle="tab" href="#nav-phones" role="tab" aria-controls="nav-phones" aria-selected="true">Téléphones</a>
            <a class="nav-item nav-link font-weight-bold" id="nav-pcs-tab" data-toggle="tab" href="#nav-pcs" role="tab" aria-controls="nav-pcs" aria-selected="false">Ordinateurs</a>
            <a class="nav-item nav-link font-weight-bold" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">Users</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-phones" role="tabpanel" aria-labelledby="nav-phones-tab">
            <div class="card m-3 text-center">
                <div class="card-body">

                    <table class="table font-weight-bold">
                        <thead>
                            <tr style="background-color:#F7941D;">
                                <th scope="col">N°</th>
                                <th scope="col">Image</th>
                                <th scope="col">Modele</th>
                                <th scope="col">Marque </th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8"><button (click)="openDialogPhone()" style="background-color: transparent;border: none;"><i class="material-icons md-48 ">add_circle_outline</i></button></td>
                            </tr>
                            <tr *ngFor='let p of phones; let number=index'>
                                <td scope="row">{{number+1}}</td>
                                <td><img width="50px" [src]="p.image" alt=""></td>
                                <td>{{p.model | uppercase}}</td>
                                <td>{{p.brand | uppercase}}</td>
                                <td>{{p.price | uppercase}}</td>
                                <td>{{p.stock | uppercase}}</td>
                                <td>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="displayPhones(p)">Afficher</a>
                                    </div>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="editPhones(p._id)">Modifier</a>
                                    </div>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="deletePhones(p._id)">Suprimer</a>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-pcs" role="tabpanel" aria-labelledby="nav-pcs-tab">
            <div class="card m-3 text-center">
                <div class="card-body">
                    <table class="table font-weight-bold">
                        <thead>
                            <tr style="background-color:#F7941D;">
                                <th scope="col">N°</th>
                                <th scope="col">Image</th>
                                <th scope="col">Modele</th>
                                <th scope="col">Marque</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8"><button (click)="openDialogComputer()" style="background-color: transparent;border: none;"><i class="material-icons md-48 ">add_circle_outline</i></button></td>
                            </tr>
                            <tr *ngFor='let c of computers; let number=index'>
                                <td scope="row">{{number+1}}</td>
                                <td><img width="50px" [src]="c.image" alt=""></td>
                                <td>{{c.model | uppercase}}</td>
                                <td>{{c.brand | uppercase}}</td>
                                <td>{{c.price | uppercase}}</td>
                                <td>{{c.stock | uppercase}}</td>
                                <td>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="displayComputers(c)">Afficher</a>
                                    </div>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)='editComputers(c._id)'>Modifier</a>
                                    </div>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="deleteComputers(c._id)">Suprimer</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
            <div class="card m-3 text-center">
                <div class="card-body">
                    <table class="table font-weight-bold">
                        <thead>
                            <tr style="background-color:#F7941D;">
                                <th scope="col">N°</th>
                                <th scope="col">Image</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tél</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let u of users; let number=index'>
                                <td scope="row">{{number+1}}</td>
                                <td><img style="width: 50px; height: 50px;" [src]="u.avatar" alt=""></td>
                                <td>{{u.firstName | uppercase}}</td>
                                <td>{{u.lastName | uppercase}}</td>
                                <td>{{u.email | uppercase}}</td>
                                <td>{{u.tel | uppercase}}</td>
                                <td>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)='editUsers(u._id)'>Modifier</a>
                                    </div>
                                    <div class="button d-inline mx-1">
                                        <a routerLink="#" class="btn px-2 py-2" style="border-radius: 10px;" (click)="deleteUsers(u._id)">Suprimer</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>