.md-48 {
    text-align: center;
    font-size: 50px;
}

.md-48:hover {
    text-align: center;
    font-size: 50px;
    color: #f7941D;
}

.mat-dialog-container {
    height: 700px !important;
}

div>nav>div>a.active {
    background: #F7941D;
    color: #fff;
}

a {
    color: black;
}

a:hover {
    background: #F7941D;
    color: #fff;
}

tr>td>div>a {
    color: white;
}