.nav-link .active .material-icons.orange600:hover {
    color: white
}

.material-icons.orange600 {
    color: #2c2d3f
}

.material-icons.md-48 {
    font-size: 50px;
}

.center {
    text-align: center;
}

a>h1 {
    color: black;
}

div>div>div>div>a {
    color: black;
    font-size: 14px;
}

div>div>div>div>a.active {
    background: #F7941D;
    color: #fff;
}

div>div>div>div>a:hover {
    background: #F7941D;
    color: #fff;
}