.nav-link .active .material-icons.orange600:hover {
    color: white
}

.material-icons.orange600 {
    color: #2c2d3f
}

.material-icons.md-48 {
    font-size: 50px;
}

.center {
    text-align: center;
}

a>h1 {
    color: black;
}