<div class="single-product">
    <div class="product-img">
        <a href="product-details.html">
            <img class="default-img" [src]="phone.image" alt="#" />


            <span *ngIf='phone.status.length>0' [ngClass]="{'out-of-stock':phone.status=='hot',
                              'new':phone.status=='new',
                              'price-dec':phone.status.length>3 }">{{phone.status |titlecase}}</span>
        </a>
        <div class="button-head">
            <div class="product-action">
                <a data-toggle="modal" data-target=".bd-example-modal-lg"><i
            class="ti-eye" (click)="openDialog()"></i><span>Détails</span></a>
                <a title="Wishlist" href="#"><i class="ti-heart"></i><span>Ajouter aux favoris</span></a>
                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Comparer</span></a>
            </div>
            <div class="product-action-2">
                <a title="Add to cart" href="#">Ajouter au panier</a>
            </div>
        </div>
    </div>
    <div class="product-content">
        <h3>
            <a href="product-details.html">{{phone.brand | uppercase}}</a>
        </h3>
        <div class="product-price">
            <span style="color: #d7941d; font-weight: bold;">{{phone.price}} DT</span>
        </div>
        <div class="product-price">
            <span>Taille Ecran: {{phone.size| uppercase}}</span>
        </div>
        <div class="product-price">
            <span *ngIf='phone.frontCam'>Caméra Frontale: {{phone.frontCam| uppercase}}</span>
        </div>
        <div class="product-price">
            <span>Caméra Arrière: {{phone.backCam| uppercase}}</span>
        </div>
        <div class="product-price">
            <span>Garantie: {{phone.waranty| uppercase}}</span>
        </div>
    </div>
</div>